body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.d-select {
  display: inline-block;
  vertical-align: middle;
  min-width: 200px;
}

.d-select .d-select__selected {
  text-align: center;
  line-height: 30px;
  border: 1px solid #ccc;
  cursor: pointer;
  position: relative;
}

.d-select .d-select__selected:after {
  content: '';
  position: absolute;
  right: 5px;
  top: 50%;
  border-width: 5px 5px 0;
  border-style: solid;
  border-color: #333 transparent transparent transparent;
  transform: translateY(-50%);
}

.d-select .d-select__items {
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.d-select .d-select__items .d-select__search {
  display: flex;
}

.d-select__search input {
  display: block;
  padding: 0 10px;
  line-height: 30px;
  width: 100%;
  flex: 1;
}

.d-select .d-select__items ul {
  margin: 0;
  padding: 0;
  list-style: none;
  max-height: 200px;
  overflow-x: hidden;
  overflow-y: auto;
}

.d-select .d-select__items ul li {
  padding: 0 15px;
  line-height: 30px;
  border-top: 1px solid #ccc;
  cursor: pointer;
}

.d-select .d-select__items ul li:first-child {
  border-top: none;
}